<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.anas.myapplication" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CritereEtChoix"
            android:label="@string/title_activity_critere_et_choix" >
        </activity>
        <activity
            android:name=".ListeRecherche"
            android:label="@string/title_activity_liste_recette" >
        </activity>
        <activity
            android:name=".ResultatRecherche"
            android:label="@string/title_activity_resultat_recherche" >
        </activity>
        <activity
            android:name=".ListeRecettes"
            android:label="@string/title_activity_liste_recettes" >
        </activity>
        <activity
            android:name=".affichageRecette"
            android:label="@string/title_activity_affichage_recette" >
        </activity>
        <activity
            android:name=".Administrateur"
            android:label="@string/title_activity_administrateur" >
        </activity>
    </application>

</manifest>
